.filters-section-options {
	margin: 20px 0;
	padding: 0 20px;
	label {
		display: inline-block;
		margin: 5px 0;
		input {
			margin-right: 7px;
		}
	}
}

.dash-filters-cont {
	margin-top: 20px;
}

.filters-section-title {
	font-size: 20px;
	font-weight: 500;
}